body {
    background-color:#caa4d3;
}

h1 {
  background-color: #b166b2;
  color: red;
  font-family: 'Comic Sans MS', 'Comic Sans', 'Chalkboard SE', 'Comic Neue', sans-serif;
  font-size: 400%;
}

p {
  color: black;
  font-family: 'Comic Sans MS', 'Comic Sans', 'Chalkboard SE', 'Comic Neue', sans-serif;
  font-size: 180%;
}

#aboveBox {
  font-size: 120%;
  font-family: 'Comic Sans MS', 'Comic Sans', 'Chalkboard SE', 'Comic Neue', sans-serif;
}

#incorrectText {
  font-size: 100%;
  font-family: 'Comic Sans MS', 'Comic Sans', 'Chalkboard SE', 'Comic Neue', sans-serif;
  color: red;
}

button {
  border: 3px solid #BB0000;
  color: black;
  padding: 10px 24px;
  text-align: center;
  font-family: 'Comic Sans MS', 'Comic Sans', 'Chalkboard SE', 'Comic Neue', sans-serif;
  font-size: 250%;
  background-color: red;
  transition-duration: 0.2s;
}

button:hover {
  background-color: #BB0000;
}

img {
  border: 5px solid #000000;
}

#bottomText {
  text-align: center;
  font-size: 80%;
  font-family: 'Comic Sans MS', 'Comic Sans', 'Chalkboard SE', 'Comic Neue', sans-serif;
  color: black;
}

#introText {
  text-align: center;
  font-size: 150%;
}
